@model IEnumerable<Give.Models.ItemRequest>

@{
    ViewBag.Title = "";
}


<div id="giverContainer" class="row col-md-12">
    <div class="rightBorder leftBorder">
        <h1>Item Requests</h1>
        <h4>
            Check out the requests from people in your community. See an item you have to Give? Click on the user name
            to be redirected to their profile.
        </h4>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemRequestMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.ActionLink(item.UserName,"ProfileComplete","Recipient")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemRequestMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>